quarkus:
  datasource:
    db-kind: h2
    username: sa
    password: ""
    jdbc:
      url: jdbc:h2:mem:inventory-db
  
  hibernate-orm:
    database:
      generation: drop-and-create
    log:
      sql: true

  h2:
    console:
      enabled: true

  http:
    port: 8080
