quarkus:
  datasource:
    db-kind: h2
    username: sa
    password: ""
    jdbc:
      url: jdbc:h2:mem:obs_db;DB_CLOSE_DELAY=-1

  hibernate-orm:
    database:
      generation: update
    log:
      sql: true

  h2:
    console:
      enabled: true

  http:
    port: 8080
